<%- include('layout/header')  %>
<h1>Đăng ký</h1>
  <form action="/register" method="POST">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Quyền:</label>
    <select id="role" name="role">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select><br>

    <button type="submit">Đăng ký</button>
<%- include('layout/footer')  %>